$fontFamily: "Comfortaa", cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  &::selection {
    background-color: rgba(104, 249, 205, 0.603);
  }
}

.selected {
  background: rgb(181, 217, 250);
}

.options {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  transition: 0.2s;
}
